node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
dist
build
*.log
.DS_Store
Thumbs.db
*.pem
.vscode
.idea
fly.toml
backend/session-whatsapp-api
backend/node_modules
frontend/node_modules
frontend/.next
frontend/dist
frontend/build 